.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img-box{
text-align: center;
  position: relative;
  margin-bottom: 30px;
  .example{
    width: 250px;
    height: 444px;
    border: 2px solid #1BC550;
    zoom: 0.8;
    transition:all 0.3s;

  }

  .example:hover{
    border-color: deeppink;
    transform: translateY(16px);
  }

  .number{
    position: absolute;
    font-size: 40px;
    color:#1BC550;
    bottom: 100px;
    left: 50%;
    //opacity: 0;
    transform: translateX(-50%);
  }
}
