*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.box{
	display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
	.box-left{
		width: 260px;
		height:800px;
      font-size: 26px;
        overflow-x:hidden;
        overflow-y: scroll;
		background-color: #354052;
      li{
        color: aliceblue;
        text-align: center;
        height: 60px;
        line-height: 60px;
      }
      li:nth-of-type(odd){
        background-color: #999;
      }
      .sel{
        background-color: red !important;
      }
	}
  .box-right{
    flex: 1;
    justify-content: left;
  }

}